

#current-player {
    font-weight: bold;
    color: #444;
  }
  
  #game-message {
    color: #666;
  }
  
  #exit-btn {
    background: #ff4444;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #exit-btn:hover {
    background: #ff6666;
  }


#game-screen {
    display: grid;
    grid-template-columns: 100px 800px 100px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-top: 20px;  /* Adds space between game-info and board */
  }


  /* Styling for the piece containers */
  .piece-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  /* Styling for the board area */
  #board {
    position: relative;
    width: 800px;
    height: 800px;
    background: url("../assets/board_wood_background.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Styling for each square */
  .square {
    position: absolute;
    border: 3px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }
  /* Styling for each button */
  .button {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #000000c1;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    pointer-events: auto;
    background-size: cover;
  }
  @keyframes glowing_green {
      0% {
        background-color: #2ba805;
        box-shadow: 0 0 5px #2ba805;
      }
      50% {
        background-color: #49e819;
        box-shadow: 0 0 20px #49e819;
      }
      100% {
        background-color: #2ba805;
        box-shadow: 0 0 5px #2ba805;
      }
  }
  .glow_green {
      animation: glowing_green 1300ms infinite;
  }
  @keyframes glowing_red {
    0% {
      background-color: #a80523;
      box-shadow: 0 0 5px #a80523;
    }
    50% {
      background-color: #e8192a;
      box-shadow: 0 0 20px #e8192a;
    }
    100% {
      background-color: #a80505;
      box-shadow: 0 0 5px #a80505;
    }
  }
  .glow_red {
    animation: glowing_red 1300ms;
  }
  /* Smaller piece styling */
  .piece {
    width: 40px;
    height: 40px;
    margin: 0;
  }
  .is_in_mill_horizontal {
    background-color: lightblue; /* Azul claro */
    box-shadow: 0 0 20px lightblue; /* Brilho maior */
    transition: background-color 0.3s; /* Para uma transição suave */
  }
  .is_in_mill_vertical {
    background-color: lightgray; /* Cinza */
    box-shadow: 0 0 20px lightgray; /* Brilho maior */
    transition: background-color 0.3s; /* Para uma transição suave */
  }